body {
    background-color: gray;
}

img {
    margin-top: 20px;
    margin-bottom: 30px;
}

h3 {
    text-align: center;
    margin-bottom: 15px;
}

article {
    padding-left: 20px;
    padding-right: 20px;
}