body {
    background-color: black;
}

h2 {
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

// @media only screen and{ (max-width: 425px;)
//    .card-group {
//     height: 400px;
//    }
// }


    
